body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #205ccd, #000000);
  min-height: 100vh;
  font-weight: bold;
}

hr {
  border-top: 2px dotted rgb(235, 225, 225);
  opacity: 1;
}

header h1 {
  position: relative;
  width: fit-content;
  margin: 4rem auto;
  color: #352e28;
}
