:root {
  --main-color: #0078ff;
}

body {
  scroll-behavior: smooth;
}

#home {
  background: url('/assets/wallpaperflare.com_wallpaper\ \(1\).jpg') center/cover no-repeat;
  color: white;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home > div {
  position: relative;
  z-index: 1;
}

.service-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
}

footer {
  background-color: #000;
}
