div{
    background-color: #2a5796;
    border: 1px solid #e5e5e5;
    padding: 30px;
    border-radius: 5px;
}

#container-1{
    padding: 50px 40px 30px 10px;
    margin-bottom: 90px;
    position: fixed;
    top: 200px;
    left: 200px;
}

#container-2{
    padding: 50px 40px 30px 10px;
    margin-bottom: 20px;
}

#container-3{
    padding: 50px 40px 30px 10px;
    margin-bottom: 30px;
}