body {
  font-family:cursive;
  background-color: rgb(230, 225, 225);
}

header h1 {
  color: #004080;
  font-weight: 600;
}

h2 {
  color: #0059b3;
  font-weight: 500;
}

ul, ol {
  list-style: none;
}

li {
  font-size: 18px;
  color: #003366;
  background: rgba(255, 255, 255, 0.2);
}

.profile-picture img {
  width: 120px;
  height: 120px;
}

footer p {
  color: #002244;
  font-size: 16px;
  font-weight: 400;
}
