* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(45deg, #091b90, #732b09);
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  animation: backgroundAnimation 8s ease-in-out infinite;
}

.content {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 600px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: 300;
  color: #e0e0e0;
}

button {
  padding: 16px 32px;
  background-color: #1040df;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button:hover {
  background-color: #2113b2;
  transform: translateY(-5px);
}

button:active {
  transform: translateY(0);
}

button:focus {
  outline: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
