body {
  background-color: #091948;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: #1b1d1bc7;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #060706;
}

button:active {
  background-color: #1b1d1bc7;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 20px;
}

#display {
  background-color: #5e5d5de8;
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: left;
  padding: 34px;
}

#calculator {
  max-width: 500px;
  overflow: hidden;
  border-radius: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #333333e8;
}

.op-btn {
  background-color: #ff9500;
}

.op-btn:hover {
  background-color: #d17e0a;
}

.op-btn:active {
  background-color: #ff9500;
}
